/* Основний колір логотипу - #000000 */
/* Допоміжний колір логотипу - #2196F3 */
/* Основний колір шрифту - #212121 */
/* Допоміжний колір шрифту - #757575 */

/* Основний колір фону - #F5F5F5 */
/* Допоміжний колір - #F5F4FA */
/* Колір футера - #2F303A */


:root {
    --logo-blue: #2196F3;
    --logo-black: #000000;
    --global-color: #ffffff;
    --secong-color: #F5F4FA;
    --futter-color: #2F303A;
    --text-color: #212121;
    --second-text-color: #757575;
    --text-color-while: #ffffff;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

}
/* обнулення налащтувань */
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.hide {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}



body {
    background-color: var(--global-color);
    font-family: var(--primary-font);
}



/* Header */

.logo {
    color: var(--logo-black);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo .logo-icon {
    color: var(--logo-blue);
}


.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--text-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--logo-blue);
}

.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--logo-blue);
}



/* Бдок героя */

.hero {
    background-color: var(--futter-color);
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--text-color-while);
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: inherit;

    background-color: var(--logo-blue);
    color: var(--text-color-while);
    cursor: pointer
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188CE8;
}



/* Наші переваги */

.about-us-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--text-color)
}

.about-us-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--second-text-color);
}




/* Чим займаємось */

.we-doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
}

.we-doing-img {
    display: block;
}



/* Наша команда */

.team {
    background-color: #F5F4FA;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--text-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--text-color);
}

.team-job {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--second-text-color);
}

.team-img {
    display: block;
}



/* Футер */

.footer {
    background-color: var(--futter-color);
}

.logo.footer-logo {
    color: var(--text-color-while);
}


.footer-adress{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;

    color: var(--text-color-while);
}

.footer-adress:hover,
.footer-adress:focus {
    color: var(--logo-blue);
}

.footer-contact {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;

    color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--logo-blue);
}






/* =========== Сторінка портфоліо ========== */



/* Блок навігації */

.nav-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    font-family: inherit;

    background-color: var(--secong-color);
    color: var(--text-color);
    cursor: pointer
}

.nav-btn:hover,
.nav-btn:focus {
    background-color: var(--logo-blue);
    color: var(--text-color-while);
}



/* Блок перелік макетів */

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--text-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--second-text-color);
}